#默认配置，根目录为html

server {
   {% if PORT %}
    listen      {{ PORT }};
    {% else %}
    listen       80;
    {% endif %}

    server_name  localhost;
        root html;
    location / {
  
            index  index.html index.htm ;
    }      
}