worker_processes  1;
events {
    worker_connections  1024;
}
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    upstream www_server_pools {     
 
   {% for i in Server_Pool %}
    {{ i }}
    {% endfor %}
    }

    server {           
        listen       80;
        server_name  {{ Server_Name }};
        location / {
        proxy_pass http://www_server_pools;
} } 
}